node-red/cycle_relays_example.json
[{"id":"bb3172f4c3522c81","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5cfa30832f06e38d","type":"8relind","z":"bb3172f4c3522c81","name":"","stack":"0","relay":"0","payload":"payload","payloadType":"msg","x":610,"y":260,"wires":[[]]},{"id":"5538cb4053e4bfec","type":"function","z":"bb3172f4c3522c81","name":"","func":"var relays=flow.get('relays') || 0;\nvar turn = flow.get('turns') || 0;\nif(relays == 0)\n{\n    turn = 1;\n   \n}\nif(relays == 255)\n{\n   turn = 0;\n}\nrelays = 0xff & ( relays << 1) +  turn;\n\nmsg.payload = relays;\nflow.set('relays', relays);\nflow.set('turns', turn); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":260,"wires":[["5cfa30832f06e38d"]]},{"id":"bf5c35a6ddfdc7af","type":"inject","z":"bb3172f4c3522c81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":240,"wires":[["c74f0a1e44a9964d"]]},{"id":"bd7072a9097ddffc","type":"ui_switch","z":"bb3172f4c3522c81","name":"","label":"switch","tooltip":"","group":"f2c221f8.b657a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":290,"y":120,"wires":[["3855cf1ab2aa18de"]]},{"id":"c74f0a1e44a9964d","type":"switch","z":"bb3172f4c3522c81","name":"","property":"enable","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":240,"wires":[["5538cb4053e4bfec"]]},{"id":"3855cf1ab2aa18de","type":"change","z":"bb3172f4c3522c81","name":"","rules":[{"t":"set","p":"enable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[[]]},{"id":"f2c221f8.b657a","type":"ui_group","name":"Relays","tab":"e45fadc8.79108","order":2,"disp":true,"width":"6","collapse":false},{"id":"e45fadc8.79108","type":"ui_tab","name":"Relays","icon":"dashboard","order":1,"disabled":false,"hidden":false}]